Pandas is a popular library used for data analysis and data manipulation.

It allows to read data from many different sources.

**Pandas Data Structures**

Series - One dimensional data structure, contain index information

Dataframes - Two dimensional data structure, contain index information

In [1]:
##### Importing Pandas Library #####

#import pandas as pd

In [2]:
#### Creating Pandas Series and DataFrames ####

#s = pd.Series([10, 77, 12, 4, 5])

#dfz = pd.DataFrame([10, 77, 12, 4, 5])

In [3]:
### Basic Methods ###

# index: -index information
# dtype: -data type of elements
# size:  -total number of elements
# ndim:  -dimension info(1D, 2D, 3D)
# head:  -first 5 values
# tail:  -last 5 values
# shape: -size of each dimension(rows & columns for 2D)
# values: -return the values (as an array)


## Examples:

#s.index
#dfz.index
#s.head()
#dfz.tail()

**Importing dataset from Seaborn to Pandas DataFrame**

In [4]:
#import pandas as pd
#import seaborn as sns

#df = sns.load_dataset("titanic")

#df.head(2)

#df.tail(1)

#df.shape  ##output: (891, 15) -- 891 rows and 15 columns

#df.info()

#df.columns

#df.index  ##output: RangeIndex(start=0, stop=891, step=1)

**Selection in Pandas**

In [5]:
#import pandas as pd
#import seaborn as sns

#df = sns.load_dataset("titanic")


#df[0:13] ##slicing first 13 rows

#df[["age"]] ##selecting "age" variable column

#df[["age", "alive"]] ##selecting more than one column

#col_names = ["age", "adult_male", "alive"]
#df[col_names]     ##selecting multiple columns

#df["age_square"] = df["age"]**2  ##Adding new column

**Deleting Rows - Columns**

In [6]:
#df.drop(0, axis=0).head()             ## 0 ---> index zero , axis=0 ---> Row

#delete_indexes = [1, 3, 5, 7]
#df.drop(delete_indexes, axis=0).head(10)     ## deletes index 1, 3, 5, and 7


## İşlemin kalıcı olması için (To modify  the existing dataframe 'df') :
#df = df.drop(delete_indexes, axis=0)               ##OR
#df.drop(delete_indexes, axis=0, inplace=True)

##deleting columns

#df.drop("age", axis=1)                      # deletes column 'age'

#col_names = ["age", "adult_male", "alive"]
#df.drop(col_names, axis=1)      # deletes 3 columns

**Converting Variable to an Index**

In [7]:
#df.index = df["age"]
## The "age" column is now set as the index of the DataFrame

#df.drop("age", axis=1)
## drop the "age" column from the DataFrame

#df.drop("age", axis=1, inplace=True) 
# This permanently drops

**Converting Index to a Variable**

In [8]:
#df["age"] = df.index
                      ### OR ###
#df.reset_index()

**Loc and iloc Methods**

In [9]:
#df.iloc[0, 0]  ## Accessing first row and first column

#df.iloc[0:2]   ## Accessing first and second row

#df.loc[0:2]    ## Accessing first, second, and third row

#df.loc[0, "age"] ##Accessing with label

**Conditional Selection**

In [10]:
#df = sns.load_dataset("titanic")

#df[df["age"] > 50] ##select rows where the age > 50

#df.loc[df["age"] > 50, "class"] ##select class information

#df.loc[df["age"] > 50, ["age", "class"]] ##select age and class information

#df.loc[(df["age"] > 50) & (df["sex"] == "male"), ["age", "class"]] ## and (&) condition

**Aggregation & Grouping**

In [11]:
###Group by

#df["age"].mean() ##output: 29.69911764705882 --gives the mean of age

#df.groupby("sex")["age"].mean() ##gives the mean of age separately



###aggregation

#df.groupby("sex").agg({"age" : "mean"})




##Group by two levels

#df.groupby(["sex", "embark_town"]).agg({"age" : ["mean"], "survived": "mean"})

**Pivot Table**

In [12]:
###Pivot table (similar to groupby)

#df.pivot_table("survived", "sex", ["embarked", "class"])

#survived ---> values argument
#sex ------> index-row
#embarked, class ------> columns


# Cut function

#df["new_age"] = pd.cut(df["age"], [0, 10, 18, 25, 40, 90]) ## create a range of ages

#df.head()

#df.pivot_table("survived", "sex", ["new_age", "class"]) ##add new_age and class column

#pd.set_option('display.width', 500) ##more columns are visible at once

**Apply & Lambda**

In [13]:
## with loops

#for col in df.columns:
#    if "age" in col:
#        print((df[col]/10).head())

## with apply and lambda

#df[["age", "age2", "age3"]].apply(lambda x: x/10).head()

**JOIN**

In [14]:
##Concat

#df1 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'], 'group': ['accounting', 'engineering', 'engineering', 'hr']})

#df2 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'], 'start_date': [2010, 2009, 2014, 2019]})

#pd.concat([df1, df2], ignore_index=True)

##output:
##   var1  var2  var3
##0    10     4    19
##1    10     8    11
##2     3     5    29
##3    23     4    19
##4     3    28    11
##5   109   103   118
##6   109   107   110
##7   102   104   128
##8   122   103   118
##9   102   127   110




##Merge

#df1 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'], 'group': ['accounting', 'engineering', 'engineering', 'hr']})

#df2 = pd.DataFrame({'employees': ['john', 'dennis', 'mark', 'maria'], 'start_date': [2010, 2009, 2014, 2019]})

#pd.merge(df1, df2)

## assigning to a variable
#df3 = pd.merge(df1, df2)

##output: 
##   employees        group  start_date
##0      john   accounting        2010
##1    dennis  engineering        2009
##2      mark  engineering        2014
##3     maria           hr        2019



##Merge with another dataframe(df4)

#df3 = pd.merge(df1, df2)

#df4 = pd.DataFrame({'group': ['accounting', 'engineering', 'hr'], 'manager': ['Caner', 'Mustafa', 'Berkcan']})

#pd.merge(df3, df4)


##output:
##  employees        group  start_date  manager
##0      john   accounting        2010    Caner
##1    dennis  engineering        2009  Mustafa
##2      mark  engineering        2014  Mustafa
##3     maria           hr        2019  Berkcan